QUẢN LÝ SINH VIÊN_FULL/QUẢN LÝ SINH VIÊN _ TỰ LÀM/Connected Services/ServiceReference2/ThaotacCSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ThaotacCSDL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57839/ThaotacCSDL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57839/ThaotacCSDL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57839/ThaotacCSDL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IThaotacCSDL_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IThaotacCSDL_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IThaotacCSDL_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IThaotacCSDL_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IThaotacCSDL_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IThaotacCSDL_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IThaotacCSDL_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="IThaotacCSDL_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:portType name="IThaotacCSDL">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IThaotacCSDL/Insert" message="tns:IThaotacCSDL_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThaotacCSDL/InsertResponse" message="tns:IThaotacCSDL_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IThaotacCSDL/Update" message="tns:IThaotacCSDL_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThaotacCSDL/UpdateResponse" message="tns:IThaotacCSDL_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IThaotacCSDL/Delete" message="tns:IThaotacCSDL_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThaotacCSDL/DeleteResponse" message="tns:IThaotacCSDL_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load">
      <wsdl:input wsaw:Action="http://tempuri.org/IThaotacCSDL/Load" message="tns:IThaotacCSDL_Load_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThaotacCSDL/LoadResponse" message="tns:IThaotacCSDL_Load_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IThaotacCSDL" type="tns:IThaotacCSDL">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IThaotacCSDL/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IThaotacCSDL/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IThaotacCSDL/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://tempuri.org/IThaotacCSDL/Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThaotacCSDL">
    <wsdl:port name="BasicHttpBinding_IThaotacCSDL" binding="tns:BasicHttpBinding_IThaotacCSDL">
      <soap:address location="http://localhost:57839/ThaotacCSDL.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>