QUẢN LÝ SINH VIÊN_FULL/QUẢN LÝ SINH VIÊN _ TỰ LÀM/Connected Services/ServiceReference2/ThaotacCSDL2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Lop">
    <xs:sequence>
      <xs:element minOccurs="0" name="Malop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tenlop" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lop" nillable="true" type="tns:Lop" />
  <xs:complexType name="ArrayOfLop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lop" nillable="true" type="tns:Lop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLop" nillable="true" type="tns:ArrayOfLop" />
</xs:schema>