QUẢN LÝ SINH VIÊN_FULL/QUẢN LÝ SINH VIÊN _ TỰ LÀM/Connected Services/ServiceReference1/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57459/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57459/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57459/MyService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_chuyendoi_InputMessage">
    <wsdl:part name="parameters" element="tns:chuyendoi" />
  </wsdl:message>
  <wsdl:message name="IMyService_chuyendoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:chuyendoiResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_max_InputMessage">
    <wsdl:part name="parameters" element="tns:max" />
  </wsdl:message>
  <wsdl:message name="IMyService_max_OutputMessage">
    <wsdl:part name="parameters" element="tns:maxResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="chuyendoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/chuyendoi" message="tns:IMyService_chuyendoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/chuyendoiResponse" message="tns:IMyService_chuyendoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="max">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/max" message="tns:IMyService_max_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/maxResponse" message="tns:IMyService_max_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="chuyendoi">
      <soap:operation soapAction="http://tempuri.org/IMyService/chuyendoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="max">
      <soap:operation soapAction="http://tempuri.org/IMyService/max" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:57459/MyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>